@import "assets/styles/mixins.scss";
@import "assets/styles/variable.scss";

.fallback {
    background-color: $backgroundColor;
    @include bgImage;
    height: 100svh;
    overflow: hidden;
    padding: 1.4rem;

    &>h1 {
        font-size: $fontSizeSm;
    }

    &>div {
        width: 100%;
        padding: 0rem 1.4rem;
        text-align: center;
        color: $placeholderColor;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &>h1 {
            margin-bottom: 20px;
            font-size: $fontSizeLg;
            color: #282B39;
        }

        &>h3 {
            color: $white;
        }

        &>p {
            margin: 10px 0px;
            font-size: $fontSizeSm - .4;
        }

        &>div {
            width: 100%;
            @include flexCenter(row);

            &>button {
                @include btn;
                background-color: $purple;
                @include flexCenter(row);
                color: $white;
                margin-top: 10px;
            }
        }
    }
}

@media(min-width: $md) {
    .fallback {
        padding: 1.6rem 3.125rem;

        &>div {
            &>h1 {
                font-size: $fontSizeLg + 5;
            }

            &>h3 {
                font-size: 2rem;
            }

            &>p {

                font-size: $fontSizeSm + .1;
            }

            &>div {
                &>button {
                    font-size: 1rem;
                }
            }
        }
    }
}