@import "../../assets/styles/variable.scss";
@import "../../assets/styles/mixins.scss";

.about {
    background-color: $backgroundColor;
    @include bgImage;
    padding: 1.4rem;
    padding-bottom: 150px;
    @include flexCenter(column);
    justify-content: space-between;

    &_img {
        width: 100%;
        @include flexCenter(row);

        &>img {
            object-fit: cover;
            width: inherit;
            height: 350px;
            border-radius: 33px;
        }
    }

    &_text {
        color: $accordionColor;

        &>h2 {
            color: $purple;
            font-size: $fontSizeMd - 0.5rem;
            margin: 20px 0px;
        }

        &>h1 {
            font-size: $fontSizeSm;
            margin: 20px 0px;
            color: $purple;
            text-align: center;
        }

        &_div {
            height: 200px;
            width: "100vw";
            height: "30vh";
            position: "relative";
            display: "flex";
            justify-content: "center";
            align-items: "center";

            p {
                max-width: inherit;
                position: "absolute";
            }
        }
    }
}

@media (min-width: $md) {
    .about {
        padding-top: 50px;
        padding-bottom: 150px;
        @include flexCenter(row);
        justify-content: space-between;

        &_img {
            width: 40%;

            &>img {
                object-fit: fill;
                width: 80%;
                height: inherit;
            }
        }

        &_text {
            width: 55%;

            &>h2 {
                margin-top: 0px;
                margin-bottom: 10px;
            }

            &>h1 {
                margin: 10px 0px;
                margin-bottom: 0px;
            }

            &>p {
                margin: 20px 0px;
            }
        }
    }
}

@media (min-width: $lg) {
    .about {
        padding: 50px 100px;
        padding-bottom: 200px;
        height: 100svh;
    }
}