@import "assets/styles/mixins.scss";
@import "assets/styles/variable.scss";

.header {
    height: 100svh;
    padding: 1.4rem;
    @include bgImage;
    background-color: $backgroundColor;

    &_buttons {
        margin-top: 1.25rem;
        height: 25rem;
        @include flexCenter(column);
        justify-content: space-evenly;
    }
}

@media (min-width: $lg) {
    .header_buttons {
        height: 28rem;
        margin: 0 auto;
    }
}